@import "tailwindcss";
@import "font-awesome-sprockets";
@import "font-awesome";



.roboto-condensed{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }